/* General styling for the page */
html {
    margin: 0;
}

body {
    height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 2rem;
}

h1, h2, h3, p {
    margin: 0;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 1rem;
}

.main-title {
    color: #D04F4F;
}

/* Main */
/* Search section */

/* Search bar*/
.search {
    margin-bottom: 3rem;
}

.search-bar {
    display: flex;
    background-color: #E7E7E7;
    height: 4rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

#search-input{
    background-color: #E7E7E7;
    border: none;
    padding-left: 1rem;
    flex-grow: 1;
    border-radius: 0.5rem;
}
#search-input::placeholder{
    color: #a7a7a7;
    font-size: 1.25rem;
}
#search-input:focus{
    outline: none;
    border: 1px solid #D04F4F;
}

.search-bar-append {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.search-bar-append i {
  font-size: 2rem;  
}

/* Tags section - General styling */
.selected-tags {
    display: flex;
    margin-bottom: 1rem;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 0.35rem;
    padding: 0.5rem;
}

.tag-text {
    font-size: 0.8rem;
    font-weight: 600;
}

.tag .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.15rem 0.25rem;
    margin-left: 1rem;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
}

.tag i {
    font-size: 0.75rem;
}

/* Search by ingredients, appliances or utensiles. General styling  */
.dropdowns-group {
    display: flex;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: auto;
}

.button {
    height: 4rem;
    min-width: 10rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 1rem;
    color: #fff;
    font-weight: 500;
}

.button.active .dropdown-input{
    display: flex;
}

.button.active .text{
    display: none;
}

.button.active + .list-container {
    display: flex;
}

.button .text {
    margin: 0 1rem 0 0;
    flex-grow: 1;
    text-align: start;
}

.button .dropdown-input {
    display: none;
    flex-grow: 1;
    margin-right: 1rem;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
}

.button > .icon-container >.fa-chevron-up {
    display: none;
}
.button.active > .icon-container > .fa-chevron-down {
    display: none;
}
.button.active > .icon-container > .fa-chevron-up {
    display: initial;
}

.list-container {
    display: none;
    max-height: 15.5rem;
    max-width: 35rem;
    overflow: hidden;
}

.dropdown-list {
    padding: 0 1rem;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.25rem ;
    margin-bottom: 0.5rem;
    width: 10rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item:hover {
    color: black;
    background-color: #fff;
}

/* Tags section - Individual elements styling */
.ingredient-tag {
    color: #fff;
    background-color: #3282F7;
}

.appliance-tag {
    color: #fff;
    background-color: #68D9A4;
}

.utensile-tag {
    color: #fff;
    background-color: #ED6454;
}

/* Search by ingredients, appliances or utensiles. Individual elements styling  */
.ingredients-select,  .ingredients-button{
    background-color: #3282F7;
}
.ingredients-button .dropdown-input {
    background-color: #649aeb;
}
.ingredients-button:hover {
    background-color: #649aeb;
}
.ingredients-button.active:hover {
    background-color: #3282F7;
}

.appliances-select,  .appliances-button{
    background-color: #68D9A4;
}
.appliances-button .dropdown-input {
    background-color: #39c584;
}
.appliances-button:hover {
    background-color: #39c584;
}
.appliances-button.active:hover {
    background-color: #68D9A4;
}

.utensiles-select,  .utensiles-button{
    background-color: #ED6454;
}
.utensiles-button .dropdown-input {
    background-color: #e67e72;
}
.utensiles-button:hover {
    background-color: #e67e72;
}
.utensiles-button.active:hover {
    background-color: #ED6454;
}

/* Recipes section */
.recipes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Recipes cards */
.recipe-card {
    height: 24rem;
    width: 24rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-top {
    height: 50%;
    background-color: #C7BEBE;
}

.card-bottom {
    height: 50%;
    background-color: #E7E7E7;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card-bottom-first {
    display: flex;
    margin-bottom: 1rem;
}

.recipe-card-title {
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-card-time {
    display: flex;
    align-items: center;
    min-width: 5.25rem;
}
.recipe-card-time i{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.card-bottom-second {
    display: flex;
    font-size: 0.75rem;
    line-height: 125%;
}

.recipe-card-ingredients {
    width: 50%;
}

.recipe-card-instructions {
    width: 50%;
}

.recipe-card-instructions p{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1rem;
}

.card-list {
    list-style-type: none;
    padding: 0;
}

.card-list-item {
    display: flex;
}

.card-list-item-title {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-list-item-quantity {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}